<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.mivok.alfred.aws</string>
	<key>connections</key>
	<dict>
		<key>46D40DFA-B1AD-4172-8FD1-363A41C0CF4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D000D7E2-8D3B-496A-BC09-E3EA625D1801</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>839332F8-14AC-4BC7-A54E-55976DEF3DCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CAD426F-D25C-4841-B835-A79E563BD385</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46D40DFA-B1AD-4172-8FD1-363A41C0CF4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85118813-A59B-4E04-B0DD-F8D05120F46D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF35695B-20A0-4B27-A1C1-F8D3D2568A0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2EAEC08-C1A2-463F-ABDC-DFCDB13B9415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1A6A32-4616-44FA-85A4-84650E491C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC1A6A32-4616-44FA-85A4-84650E491C71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>670760E3-B44A-44E5-B020-D769B251B734</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9CD9D58D-9CD5-4A95-BB3E-9A9781CFB87D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDC26738-261B-4BB0-B23A-916E77AA8153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>578400D6-4D5E-48B3-9F83-28DBB38AAB1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF35695B-20A0-4B27-A1C1-F8D3D2568A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CAEBFD4-B515-4D37-97BD-FD367D17FC3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Harrison</string>
	<key>description</key>
	<string>Search AWS instances</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>578400D6-4D5E-48B3-9F83-28DBB38AAB1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching instances...</string>
				<key>script</key>
				<string>./script_filter.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search AWS instances</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DDC26738-261B-4BB0-B23A-916E77AA8153</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>current_aws_profile</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>D000D7E2-8D3B-496A-BC09-E3EA625D1801</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aws-profile</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash
if [[ -f "$alfred_workflow_data/current_aws_profile" ]]; then
    CURRENT_PROFILE=$(&lt;"$alfred_workflow_data/current_aws_profile")
fi
if [[ -z $CURRENT_PROFILE ]]; then
    CURRENT_PROFILE="default"
fi
echo '{"items": [
    {
        "title": "aws-profile",
        "subtitle": "Set AWS Profile (current: '"$CURRENT_PROFILE"')",
        "arg": "'"$1"'"
    }
]}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set AWS Profile</string>
				<key>title</key>
				<string>aws-profile</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CAD426F-D25C-4841-B835-A79E563BD385</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>46D40DFA-B1AD-4172-8FD1-363A41C0CF4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Profile changed to {query}</string>
				<key>title</key>
				<string>AWS instance search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>839332F8-14AC-4BC7-A54E-55976DEF3DCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>current_aws_region</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>670760E3-B44A-44E5-B020-D769B251B734</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aws-region</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash
if [[ -f "$alfred_workflow_data/current_aws_region" ]]; then
    CURRENT_REGION=$(&lt;"$alfred_workflow_data/current_aws_region")
fi
if [[ -z $CURRENT_REGION ]]; then
    CURRENT_PROFILE="us-east-1"
fi
echo '{"items": [
    {
        "title": "aws-region",
        "subtitle": "Set AWS Region (current: '"$CURRENT_REGION"')",
        "arg": "'"$1"'"
    }
]}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set AWS Region</string>
				<key>title</key>
				<string>aws-region</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A2EAEC08-C1A2-463F-ABDC-DFCDB13B9415</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>AC1A6A32-4616-44FA-85A4-84650E491C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Region changed to {query}</string>
				<key>title</key>
				<string>AWS instance search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9CD9D58D-9CD5-4A95-BB3E-9A9781CFB87D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Instance cache cleared</string>
				<key>title</key>
				<string>AWS instance search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1CAEBFD4-B515-4D37-97BD-FD367D17FC3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm -f "$alfred_workflow_cache"/*.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF35695B-20A0-4B27-A1C1-F8D3D2568A0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aws-clear-cache</string>
				<key>subtext</key>
				<string>Clear AWS instance cache</string>
				<key>text</key>
				<string>aws-clear-cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85118813-A59B-4E04-B0DD-F8D05120F46D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1CAEBFD4-B515-4D37-97BD-FD367D17FC3E</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>46D40DFA-B1AD-4172-8FD1-363A41C0CF4F</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>578400D6-4D5E-48B3-9F83-28DBB38AAB1C</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>670760E3-B44A-44E5-B020-D769B251B734</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7CAD426F-D25C-4841-B835-A79E563BD385</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>839332F8-14AC-4BC7-A54E-55976DEF3DCA</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>85118813-A59B-4E04-B0DD-F8D05120F46D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>9CD9D58D-9CD5-4A95-BB3E-9A9781CFB87D</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>A2EAEC08-C1A2-463F-ABDC-DFCDB13B9415</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>AC1A6A32-4616-44FA-85A4-84650E491C71</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>D000D7E2-8D3B-496A-BC09-E3EA625D1801</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>DDC26738-261B-4BB0-B23A-916E77AA8153</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FF35695B-20A0-4B27-A1C1-F8D3D2568A0F</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>CACHE_INTERVAL</key>
		<string>3600</string>
		<key>PATH</key>
		<string>/bin:/usr/bin:/usr/local/bin</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
